* {
  margin: 0;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

.slideshow-container img.visible {
  opacity: 1;
}
